.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 660px;
  height: 660px;
  background-color: #202020;
  border-radius: 4px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1px;
    background-color: #eee;
}

.square {
    background-color: #fff;
    width: 16px;
    height: 16px;
}