.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41.25rem;
  height: 41.25rem;
  background-color: #202020;
  border-radius: 4px;
}

/* Do not specify any  */
.grid-container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1px;
    background-color: #eee;
}


/* 1 rem is usually equivalent to 16px */
.square {
    background-color: #fff;
    width: 2rem;
    height: 2rem;
}